.title {
  font-family: 'RocknRoll One', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: rebeccapurple;
  padding-top: 10px;
  margin-bottom: 50px;
}
